@font-face{
	font-family: 'Uni';
	src: url('./fonts/Uni.otf');
}

@font-face{
	font-family: 'Gidole';
	src: url('./fonts/Gidole.otf');
}

body {
	margin:0;
	padding:0;
	background-image = "./files/day01.png";
}

#clock {
	width: 200px;
	left:850px;
	top:68%;
	z-index: 2;
	position: fixed	;
	text-align:center;
	color: white;
	font-size: 60px;
	font-family: 'Uni';
	cursor:default;
}
#date {
	width: 150px;
	left:875px;
	top: 74%;
	z-index: 3;
	position: fixed;
	text-align:center;
	color: white;
	font-size: 16px;
	font-family: 'Gidole';
	cursor:default;
}
