@font-face{
	font-family: 'Uni';
	src: url('./fonts/Uni.otf');
}

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-image: "./files/day01.jpg";
	background-size: 100% 100%;
}

#clock {
	width: 400px;
	right:10px;
	bottom:20px;
	position: fixed;
	text-align:right;
	color: white;
	font-size: 120px;
	font-family: 'Uni';
	cursor:default;
	user-select: none;
}

