@font-face{
	font-family: 'KosugiMaru-Regular';
	src: url('./KosugiMaru-Regular.ttf');
}

body {
	height: 100%;
	margin:0;
	padding:0;
	overflow: hidden;
}

#wallpaper{
	position:absolute;
	width:100%;
	height:100%;
}

#girl{
	position:absolute;
	width: 104%;
	height: 104%;
	z-index:-1;
}
#time {
	position: absolute;
	width: 18%;
	height: 16%;
	right: 0px;
	bottom: 0px;
}

#clock {
	width: 200px;
	left:0%;
	top:0%;
	z-index: 2;
	position: absolute;
	text-align:left;
	color: white;
	font-size: 68px;
	font-family: 'KosugiMaru-Regular';
	cursor:default;
}
#date {
	width: 150px;
	left: 25px;
	top: 70px;
	z-index: 3;
	position: absolute;
	text-align:left;
	color: white;
	font-size: 16px;
	font-family: 'KosugiMaru-Regular';
	cursor:default;
}