@font-face{
	font-family: 'KosugiMaru-Regular';
	src: url('./KosugiMaru-Regular.ttf');
}

body {
	height: 100%;
	margin:0;
	padding:0;
	background: #000;
	overflow: hidden;
}

#wallpaper{
	position: absolute;
	height: 100%;
	width: 100%;
	
}

#yourname{
	position:absolute;
	width: 104%;
	height: 104%;
	z-index:-1;
}