@font-face{
	font-family: 'KosugiMaru-Regular';
	src: url('./fonts/KosugiMaru-Regular.ttf');
}

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-image: "./files/day01.jpg";
	background-size: 100% 100%;
}

#clock {
	width: 400px;
	right:.5%;
	bottom:4.5%;
	position: fixed;
	text-align:right;
	color: white;
	font-size: calc(48px + (100 - 40) * ((100vw - 1000px) / (3840 - 1000)));
	font-family: 'KosugiMaru-Regular';
	cursor:default;
	user-select: none;
}

#date {
	width:300px;
	right: .7%;
	bottom: 3.2%;
	position: fixed;
	text-align:right;
	color: white;
	font-size: calc(12px + (24 - 10) * ((100vw - 1000px) / (3840 - 1000)));
	font-family: 'KosugiMaru-Regular';
	cursor:default;
	user-select: none;
}