@font-face{
	font-family: 'Digital-7';
	src: url('./fonts/digi7.ttf');
}

@font-face{
	font-family: 'Prime';
	src: url('./fonts/prime.otf');
}

body {
	margin:0;
	padding:0;
	
}

#video-bg-elem {
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	overflow:hidden;
}

#clock {
	width: 200px;
	left:860px;
	top:60%;
	z-index: 2;
	position: fixed	;
	text-align:center;
	color: white;
	font-size: 60px;
	font-family: 'Digital-7';
	cursor:default;
}
#date {
	width: 150px;
	left:885px;
	top: 65%;
	z-index: 3;
	position: fixed;
	text-align:center;
	color: white;
	font-size: 16px;
	font-family: 'Prime';
	cursor:default;
}
